{% extends "base.html" %}
{% block import %}
  <div class="jumbotron">
    <h1>Drafts list</h1>
    {% for post in post_list %}
    <a href="{% url 'blog:post_detail' pk=post.pk %}">
      <div class="post-list">
        <h2>{{ post.title }}</h2>
        <h4>Created on: {{ post.creating_date }}</h4>
        {% for comment in post.comments.all %}
          {% if comment.is_approved %}
            <p><b>{{ comment.author }}</b>: {{ comment.text }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </a>
    {% empty %}
    {% endfor %}
  </div>
{% endblock %}
