{% extends "base/base.html" %}
{% load static %}
{% load cart_tag %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            {% for cat in main_categories %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#{{ cat|lower }}">
                      {% if cat.sub_category.all %}
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                      {% endif %}
                      {{ cat }}
                    </a>
                  </h4>
                </div>
                {% if cat.sub_category.all %}
                  <div id="{{ cat|lower }}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        {% for sub_cat in cat.sub_category.all %}
                          <li><a href="{% url 'shop:category-view' slug=sub_cat.slug %}">{{ sub_cat }} </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div><!--/category-productsr-->

          <div class="brands_products"><!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
                <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
                <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
              </ul>
            </div>
          </div><!--/brands_products-->

          <div class="price-range"><!--price-range-->
            <h2>Price Range</h2>
            <div class="well">
               <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
               <b>$ 0</b> <b class="pull-right">$ 600</b>
            </div>
          </div><!--/price-range-->

          <div class="shipping text-center"><!--shipping-->
            <img src="{% static 'images/home/shipping.jpg' %}" alt="" />
          </div><!--/shipping-->

        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">{{ wishlist.user.username }} Wishlist</h2>
          {% for product in wishlist.list.all|ordering_product_by_time %}
            {% if product.is_published %}
              <a href="{% url 'shop:products-detail' slug=product.slug %}">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="../../media/{{ product.image }}" alt="" />
                        <h2>{{ product.price }}</h2>
                        <p>{{ product.name }}</p>
                        {% for top_cat in product.category.sub_category.all %}
                            <p>{{  product.category }} ({{ top_cat }})</p>
                        {% endfor %}
                        <a href="{% url 'shop:add-to-cart-view' slug=product.slug %}"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        {% comment %} <a href="remove/{{ product.slug }}" class="btn btn-danger add-to-cart"><i class="fa fa-times"></i>Remove from cart</a> {% endcomment %}
                      </div>
                      {% comment %} <div class="product-overlay">
                        <div class="overlay-content">
                          <h2>{{ product.price }}</h2>
                          <p>{{ product.name }}</p>
                          <p>{{  product.preview_text }}</p>
                          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                      </div> {% endcomment %}
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                        <li><a href="{% url 'shop:remove-from-wishlist' slug=product.slug %}"><i class="fa fa-minus-square"></i>Omit from wishlist</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </a>
            {% endif %}
          {% endfor %}


          <ul class="pagination">
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">&raquo;</a></li>
          </ul>
        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>
{% endblock content %}
